In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pickle as pk
file = open('/content/drive/My Drive/Data/business_review.pkl', 'rb')
data = pk.load(file)

In [3]:
data.head()

              business_id  ...                 date
0  tstimHoMcYbkSC4eBA1wEg  ...  2014-01-17 00:59:36
1  tstimHoMcYbkSC4eBA1wEg  ...  2014-08-24 21:52:27
2  tstimHoMcYbkSC4eBA1wEg  ...  2011-09-26 01:53:09
3  tstimHoMcYbkSC4eBA1wEg  ...  2017-03-27 21:03:02
4  tstimHoMcYbkSC4eBA1wEg  ...  2014-02-06 03:59:50

[5 rows x 22 columns]

In [0]:
df = data[['user_id','business_id','stars_x']]

In [0]:
n_users = df.user_id.nunique()
n_items = df.business_id.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Businesses: '+str(n_items))

Num. of Users: 427523
Num of Businesses: 3520

In [0]:
df

                        user_id             business_id  stars_x
0        Gvv5hQR8BYj5f-APtKwImQ  tstimHoMcYbkSC4eBA1wEg      4.5
1        b-y736LEcRWXoNFj82AcOw  tstimHoMcYbkSC4eBA1wEg      4.5
2        _7_Bh8VaUTUgFhmQ59ml0g  tstimHoMcYbkSC4eBA1wEg      4.5
3        PFdPopcevMX7_2cx27rJKA  tstimHoMcYbkSC4eBA1wEg      4.5
4        IxBVL9K2K9aur-_zKvIJiw  tstimHoMcYbkSC4eBA1wEg      4.5
...                         ...                     ...      ...
1201455  8QKrhvVqhEkD8xo4E4s0GQ  vIAEWbTJc657yN8I4z7whQ      3.0
1201456  9ks-80ZxeCZWNObzEbW4-Q  vIAEWbTJc657yN8I4z7whQ      3.0
1201457  EA-UgJmd-hQ8RBn1odmDJg  vIAEWbTJc657yN8I4z7whQ      3.0
1201458  bcxc4OF5SDiJ4xnNMBZUQQ  vIAEWbTJc657yN8I4z7whQ      3.0
1201459  TglAI9psHTtSRoI7TbttcQ  vIAEWbTJc657yN8I4z7whQ      3.0

[1201460 rows x 3 columns]

In [0]:
df.groupby(['business_id']).count()

                        user_id  stars_x
business_id
--9e1ONYQuAa-CB_Rrw7Tw     1661     1661
--FBCX-N37CMYDfs790Bnw      142      142
-0RkJ_uIduNLWQrphbADRw       63       63
-1m9o3vGRA8IBPNvNqKLmA      259      259
-3zffZUHoY8bQjGfPSoBKQ      653      653
...                         ...      ...
zu0a9GPCG8i7jbAJ3-H6LQ       62       62
zuwba6QEBIDZT0tJZmNhdQ      307      307
zvQIEpJUmLLmMMffNntHXQ      140      140
zwNC-Ow4eIMan2__bS9-rg      601      601
zx_j6OuuHHa2afVoAZuLpA       78       78

[3520 rows x 2 columns]

In [0]:
grouped = df.groupby('business_id')

In [0]:
df = grouped.filter(lambda x: x['user_id'].count() > 80)

In [0]:
print(df.user_id.nunique())
print(df.business_id.nunique())

419010
2845

In [0]:
df.groupby(['business_id']).count()

                        user_id  stars_x
business_id
--9e1ONYQuAa-CB_Rrw7Tw     1661     1661
--FBCX-N37CMYDfs790Bnw      142      142
-1m9o3vGRA8IBPNvNqKLmA      259      259
-3zffZUHoY8bQjGfPSoBKQ      653      653
-8R_-EkGpUhBk55K9Dd4mg      122      122
...                         ...      ...
zr42_UsWfaIF-rcp37OpwA      231      231
zsQk990PubOHjr1YcLkQFw      234      234
zuwba6QEBIDZT0tJZmNhdQ      307      307
zvQIEpJUmLLmMMffNntHXQ      140      140
zwNC-Ow4eIMan2__bS9-rg      601      601

[2845 rows x 2 columns]

In [0]:
cnt = df['user_id'].value_counts()
cnt = cnt.index[cnt >= 25]
df = df[df['user_id'].isin(cnt)]

In [0]:
print(df.user_id.nunique())
print(df.business_id.nunique())

4249
2845

In [0]:
df['User_ID_code'] = df.user_id.astype('category').cat.codes
df['Business_ID_code'] = df.business_id.astype('category').cat.codes

In [0]:
df

                        user_id  ... Business_ID_code
8        3nDUQBjKyVor5wV0reJChg  ...             2597
10       3nDUQBjKyVor5wV0reJChg  ...             2597
15       SkUjCvDBA2VNnJWj8DNcdg  ...             2597
20       A1yK1QyPaahfwp38zqn2Bg  ...             2597
22       p9LcLbklaDdgKG3ErfLGfg  ...             2597
...                         ...  ...              ...
1201444  Q7IoE5m2heQKThuVq3SYFA  ...             2658
1201455  8QKrhvVqhEkD8xo4E4s0GQ  ...             2658
1201456  9ks-80ZxeCZWNObzEbW4-Q  ...             2658
1201457  EA-UgJmd-hQ8RBn1odmDJg  ...             2658
1201458  bcxc4OF5SDiJ4xnNMBZUQQ  ...             2658

[223211 rows x 5 columns]

In [0]:
n_users = df.user_id.nunique()
n_items = df.business_id.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Businesses: '+str(n_items))

Num. of Users: 4249
Num of Businesses: 2845

In [0]:
df = df[['User_ID_code','Business_ID_code','stars_x','user_id','business_id']]

In [0]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.25)

In [0]:
train_data

         User_ID_code  ...             business_id
518440            326  ...  7vHvQCjPq5pWj7Rio1A--w
303085           1870  ...  iAu8s96GKQ73Xe7j_2GyCQ
1048374            86  ...  QJcJaqhxFGaj0V6rRWupvA
1035871          3846  ...  8eSmXnZG0N1GRsqiFeU9uA
948435            244  ...  qJ18IGaDsQtzJ6v2UzkdcQ
...               ...  ...                     ...
370346           2992  ...  t33qVzQ6AdSiq4lnI0KOyg
361514            457  ...  YXohNvMTCmGhFMSQsDZq1g
801991           2620  ...  1Vn_lex3LGGwuTo-xeJnww
677306           3092  ...  fpM-O9Ul62xizBq9YNO_tQ
415297           3174  ...  u-67zd1ImTv3EEr5kIdWrA

[167408 rows x 5 columns]

In [0]:
test_data

         User_ID_code  ...             business_id
281377           1530  ...  pyqnGlIfP9Zw8LLxBjyAiA
1058137          3306  ...  qTTBJ83d-nWSnQpXyd44gA
1071213          3419  ...  cUpdeZJawIwOl6G21z7CzA
1096643          3913  ...  -ADtl9bLp8wNqYX1k3KuxA
143106           3340  ...  SktLID5_ywSlgVE-h3NB3Q
...               ...  ...                     ...
778928           1762  ...  JJAwT9R6Fp2yyWHtWFA8uQ
956335           2262  ...  3QcTqsdxQBlSndBdMJBRhQ
114116           2488  ...  TCoBE_BkDRrK0bWrh5VueQ
546125           4004  ...  r6WO_jkx4rkMMauvPvMDeQ
269002           3187  ...  VGWEpMEkzQopS5lUNd06Sw

[55803 rows x 5 columns]

In [0]:
import numpy as np

In [0]:
train_data

In [0]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1], line[2]] = line[3]  

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [0]:
train_data_matrix.shape

(4249, 2845)

In [0]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [0]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [0]:
train_data_matrix

array([[4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [0]:
item_prediction = predict(train_data_matrix, item_similarity, type='item')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [0]:
test_data_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [0]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [0]:
from sklearn.metrics import mean_absolute_error
def mae(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return mean_absolute_error(prediction, ground_truth)

In [0]:
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

User-based CF RMSE: 3.844145228004285
Item-based CF RMSE: 3.8460303092556627

In [0]:
print('User-based CF MAE: ' + str(mae(user_prediction, test_data_matrix)))
print('Item-based CF MAE: ' + str(mae(item_prediction, test_data_matrix)))

User-based CF MAE: 3.804799925822895
Item-based CF MAE: 3.806890628699076

In [0]:
sparsity=round(1.0-len(df)/float(n_users*n_items),3)
print('The sparsity level of Business_Data is ' +  str(sparsity*100) + '%')

The sparsity level of Business_Data is 98.2%

In [0]:
print('SVD Model CF MAE: ' + str(mae(X_pred, test_data_matrix)))

SVD Model CF MAE: 3.8102974522939403

In [0]:
#import turicreate
from turicreate import SFrame
import pandas as pd

In [0]:
df = pd.DataFrame()
sf = SFrame(data=df)

In [0]:
sf_train = SFrame(train_data)
sf_test = SFrame(test_data)

In [0]:
train_data

Columns:
	User_ID_code	int
	Business_ID_code	int
	stars_x	float
	user_id	str
	business_id	str

Rows: 167408

Data:
+--------------+------------------+---------+------------------------+
| User_ID_code | Business_ID_code | stars_x |        user_id         |
+--------------+------------------+---------+------------------------+
|     326      |       400        |   4.0   | 3nDUQBjKyVor5wV0reJChg |
|     1870     |       2098       |   4.0   | QqRSNjWhfUFv1ZU0OnYKZQ |
|      86      |       1241       |   2.5   | -yQ5tp-artaRI42NVcsUag |
|     3846     |       437        |   4.0   | u0bAtrQrgEoHjFybAl9FeQ |
|     244      |       2455       |   3.5   | 2KXR93JrBu2FOjFIhy0QzA |
|     1107     |       2787       |   4.5   | EgbeJrycEtSkps8UbJRpaQ |
|     1516     |       1486       |   4.5   | L8P5OWO1Jh4B2HLa1Fnbng |
|     4184     |       2067       |   4.5   | yyDp7MZ2st7p0fOQuFYpcA |
|     3227     |       2596       |   4.5   | keBv05MsMFBd0Hu98vXThQ |
|     3570     |       193        |   4.0   | pWlelwBYGwvzISHzauw6-A |
+--------------+------------------+---------+------------------------+
+------------------------+
|      business_id       |
+------------------------+
| 7vHvQCjPq5pWj7Rio1A--w |
| iAu8s96GKQ73Xe7j_2GyCQ |
| QJcJaqhxFGaj0V6rRWupvA |
| 8eSmXnZG0N1GRsqiFeU9uA |
| qJ18IGaDsQtzJ6v2UzkdcQ |
| ybHlmdUHLPKfv85bRK4Wtw |
| VIW-4GDAKGaXUdLtTVSFqQ |
| hV4j36jlyeBwTW_9uQiTjQ |
| tsf1JNdeeQf_654YUSrzRw |
| 35lDiS--Zx-8HLwv2EZBGQ |
+------------------------+
[167408 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [0]:
popularity_model = turicreate.popularity_recommender.create(sf_train, user_id='user_id', item_id='business_id', target='stars_x')

Warning: Ignoring columns User_ID_code, Business_ID_code;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 167408 observations with 4249 users and 2844 items.

    Data prepared in: 0.209513s

167408 observations to process; with 2844 unique items.

In [0]:
popularity_recomm = popularity_model.recommend(users=['3nDUQBjKyVor5wV0reJChg'],k=5)
popularity_recomm.print_rows(num_rows=25)

+------------------------+------------------------+-------+------+
|        user_id         |      business_id       | score | rank |
+------------------------+------------------------+-------+------+
| 3nDUQBjKyVor5wV0reJChg | k9b96JXlNewj36ddrce9Jw |  5.0  |  1   |
| 3nDUQBjKyVor5wV0reJChg | kafUXRNfQm3e_U14S2WbmA |  5.0  |  2   |
| 3nDUQBjKyVor5wV0reJChg | inXu0sfSxf7PF4GvWTfbEg |  5.0  |  3   |
| 3nDUQBjKyVor5wV0reJChg | IhNASEZ3XnBHmuuVnWdIwA |  5.0  |  4   |
| 3nDUQBjKyVor5wV0reJChg | 7RR1rbyEKKo2G-RACqAfoA |  5.0  |  5   |
+------------------------+------------------------+-------+------+
[5 rows x 4 columns]

In [0]:
#Training the model
item_sim_model = turicreate.item_similarity_recommender.create(train_data, user_id='user_id', item_id='business_id', target='stars_x', similarity_type='cosine')

#Making recommendations
item_sim_recomm = item_sim_model.recommend(users=['3nDUQBjKyVor5wV0reJChg'],k=5)
item_sim_recomm.print_rows(num_rows=25)

Warning: Ignoring columns User_ID_code, Business_ID_code;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 167408 observations with 4249 users and 2844 items.

    Data prepared in: 0.233145s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 5.1ms                          | 23.5       |

| 13.82ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 113.449ms                           | 0.75             | 22              |

| 392.186ms                           | 100              | 2844            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.418584s

+------------------------+------------------------+---------------------+------+
|        user_id         |      business_id       |        score        | rank |
+------------------------+------------------------+---------------------+------+
| 3nDUQBjKyVor5wV0reJChg | VHZPbCbIPHEkKOotdCTiow |  0.1216369871492986 |  1   |
| 3nDUQBjKyVor5wV0reJChg | IMLrj2klosTFvPRLv56cng | 0.10522490343847475 |  2   |
| 3nDUQBjKyVor5wV0reJChg | IhNASEZ3XnBHmuuVnWdIwA | 0.10111868631589663 |  3   |
| 3nDUQBjKyVor5wV0reJChg | ZibmYdOPKLlqDM9oR6xzOA | 0.09615115289921528 |  4   |
| 3nDUQBjKyVor5wV0reJChg | K7lWdNUhCbcnEvI0NhGewg |  0.0918241076536112 |  5   |
+------------------------+------------------------+---------------------+------+
[5 rows x 4 columns]