In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pickle as pk
file = open('/content/drive/My Drive/Data/business_review.pkl', 'rb')
data = pk.load(file)

In [0]:
data.head()

              business_id  ...                 date
0  tstimHoMcYbkSC4eBA1wEg  ...  2014-01-17 00:59:36
1  tstimHoMcYbkSC4eBA1wEg  ...  2014-08-24 21:52:27
2  tstimHoMcYbkSC4eBA1wEg  ...  2011-09-26 01:53:09
3  tstimHoMcYbkSC4eBA1wEg  ...  2017-03-27 21:03:02
4  tstimHoMcYbkSC4eBA1wEg  ...  2014-02-06 03:59:50

[5 rows x 22 columns]

In [0]:
df = data[['user_id','business_id','stars_x']]

In [0]:
n_users = df.user_id.nunique()
n_items = df.business_id.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Businesses: '+str(n_items))

Num. of Users: 427523
Num of Businesses: 3520

In [0]:
df

                        user_id             business_id  stars_x
0        Gvv5hQR8BYj5f-APtKwImQ  tstimHoMcYbkSC4eBA1wEg      4.5
1        b-y736LEcRWXoNFj82AcOw  tstimHoMcYbkSC4eBA1wEg      4.5
2        _7_Bh8VaUTUgFhmQ59ml0g  tstimHoMcYbkSC4eBA1wEg      4.5
3        PFdPopcevMX7_2cx27rJKA  tstimHoMcYbkSC4eBA1wEg      4.5
4        IxBVL9K2K9aur-_zKvIJiw  tstimHoMcYbkSC4eBA1wEg      4.5
...                         ...                     ...      ...
1201455  8QKrhvVqhEkD8xo4E4s0GQ  vIAEWbTJc657yN8I4z7whQ      3.0
1201456  9ks-80ZxeCZWNObzEbW4-Q  vIAEWbTJc657yN8I4z7whQ      3.0
1201457  EA-UgJmd-hQ8RBn1odmDJg  vIAEWbTJc657yN8I4z7whQ      3.0
1201458  bcxc4OF5SDiJ4xnNMBZUQQ  vIAEWbTJc657yN8I4z7whQ      3.0
1201459  TglAI9psHTtSRoI7TbttcQ  vIAEWbTJc657yN8I4z7whQ      3.0

[1201460 rows x 3 columns]

In [0]:
df.groupby(['business_id']).count()

                        user_id  stars_x
business_id
--9e1ONYQuAa-CB_Rrw7Tw     1661     1661
--FBCX-N37CMYDfs790Bnw      142      142
-0RkJ_uIduNLWQrphbADRw       63       63
-1m9o3vGRA8IBPNvNqKLmA      259      259
-3zffZUHoY8bQjGfPSoBKQ      653      653
...                         ...      ...
zu0a9GPCG8i7jbAJ3-H6LQ       62       62
zuwba6QEBIDZT0tJZmNhdQ      307      307
zvQIEpJUmLLmMMffNntHXQ      140      140
zwNC-Ow4eIMan2__bS9-rg      601      601
zx_j6OuuHHa2afVoAZuLpA       78       78

[3520 rows x 2 columns]

In [0]:
grouped = df.groupby('business_id')

In [0]:
grouped

In [0]:
df = grouped.filter(lambda x: x['user_id'].count() > 80)

In [0]:
print(df.user_id.nunique())
print(df.business_id.nunique())

419010
2845

In [0]:
df.groupby(['business_id']).count()

                        user_id  stars_x
business_id
--9e1ONYQuAa-CB_Rrw7Tw     1661     1661
--FBCX-N37CMYDfs790Bnw      142      142
-1m9o3vGRA8IBPNvNqKLmA      259      259
-3zffZUHoY8bQjGfPSoBKQ      653      653
-8R_-EkGpUhBk55K9Dd4mg      122      122
...                         ...      ...
zr42_UsWfaIF-rcp37OpwA      231      231
zsQk990PubOHjr1YcLkQFw      234      234
zuwba6QEBIDZT0tJZmNhdQ      307      307
zvQIEpJUmLLmMMffNntHXQ      140      140
zwNC-Ow4eIMan2__bS9-rg      601      601

[2845 rows x 2 columns]

In [0]:
cnt = df['user_id'].value_counts()
cnt = cnt.index[cnt >= 25]
df = df[df['user_id'].isin(cnt)]

In [0]:
print(df.user_id.nunique())
print(df.business_id.nunique())

4249
2845

In [0]:
df['User_ID_code'] = df.user_id.astype('category').cat.codes
df['Business_ID_code'] = df.business_id.astype('category').cat.codes

In [0]:
df

                        user_id  ... Business_ID_code
8        3nDUQBjKyVor5wV0reJChg  ...             2597
10       3nDUQBjKyVor5wV0reJChg  ...             2597
15       SkUjCvDBA2VNnJWj8DNcdg  ...             2597
20       A1yK1QyPaahfwp38zqn2Bg  ...             2597
22       p9LcLbklaDdgKG3ErfLGfg  ...             2597
...                         ...  ...              ...
1201444  Q7IoE5m2heQKThuVq3SYFA  ...             2658
1201455  8QKrhvVqhEkD8xo4E4s0GQ  ...             2658
1201456  9ks-80ZxeCZWNObzEbW4-Q  ...             2658
1201457  EA-UgJmd-hQ8RBn1odmDJg  ...             2658
1201458  bcxc4OF5SDiJ4xnNMBZUQQ  ...             2658

[223211 rows x 5 columns]

In [0]:
n_users = df.user_id.nunique()
n_items = df.business_id.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Businesses: '+str(n_items))

Num. of Users: 4249
Num of Businesses: 2845

In [0]:
df = df[['User_ID_code','Business_ID_code','stars_x','user_id','business_id']]

In [0]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.25)

In [0]:
train_data

        User_ID_code  ...             business_id
932900          2515  ...  f8IMQgRwo-8GP372MElDGQ
982882          2372  ...  A0X1baHPgw9IiBRivu0G9g
847140           362  ...  qi6uzJEhA9puZM2io46-_A
224542          3764  ...  G6BwYw_0_atLPTzI1uokIA
821032          3682  ...  A3BzaW-pEmIH4Fu6dav7HA
...              ...  ...                     ...
681590          2104  ...  -ed0Yc9on37RoIoG2ZgxBA
597189          3468  ...  Yp9w4nhUowBU_IS_StFXbQ
856435          2860  ...  Z0o7EnCj3fgzC7E3QRabhQ
201990          2393  ...  X8c23dur0ll2D9XTu-I8Qg
712533          1150  ...  ghVhlFpNhfBwWDFGSlt2JA

[167408 rows x 5 columns]

In [0]:
test_data

        User_ID_code  ...             business_id
701733          3316  ...  9tLCuUmw3Tlco-tKPGkIWQ
42039           1276  ...  AUl6myFhTAbEqt0GMdKHiw
188060           535  ...  JhRxDdmZSGDG_u7cGxaYrw
775510          1305  ...  7JWWeXqil03Ua_wV9KN8ZQ
581356           618  ...  LFs5jyYdXlzi0SpAYi1eSA
...              ...  ...                     ...
49146           1038  ...  Os1n1_idfw9vv9kwULGJnQ
973434          2738  ...  MQI1rSTE2LGrrsPPgenCrA
229702          2981  ...  iFCz-xI7CV98fcaB4Chh3g
319715           362  ...  kmdFk8ETfXiuoS364jaJFA
438453          3818  ...  ZosrzTfiiPhbURA04AQTUA

[55803 rows x 5 columns]

In [0]:
import numpy as np

In [0]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1], line[2]] = line[3]  

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [0]:
train_data_matrix.shape

(4249, 2845)

In [0]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [0]:
sparsity=round(1.0-len(df)/float(n_users*n_items),3)
print('The sparsity level of Business_Data is ' +  str(sparsity*100) + '%')

The sparsity level of Business_Data is 98.2%

In [0]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds

#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_data_matrix, k = 40)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)
print('SVD CF MSE: ' + str(rmse(X_pred, test_data_matrix)))

SVD CF MSE: 3.8555283412059635