In [1]:
!pip install rake-nltk

Collecting rake-nltk
  Downloading https://files.pythonhosted.org/packages/8e/c4/b4ff57e541ac5624ad4b20b89c2bafd4e98f29fd83139f3a81858bdb3815/rake_nltk-1.0.4.tar.gz
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->rake-nltk) (1.12.0)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7821 sha256=06f336b675c962f4e658b0a887bd4e796b2edad3d994f315e6fb46a8b594a5dc
  Stored in directory: /root/.cache/pip/wheels/ef/92/fc/271b3709e71a96ffe934b27818946b795ac6b9b8ff8682483f
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4

In [2]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

In [3]:
import json
from rake_nltk import Rake
import pickle
import pandas as pd
import re
import os

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Reading Data

In [5]:
if os.path.isfile('/content/drive/My Drive/Data/business.pkl'):
    print ("Business pickle exists. Reading pkl")

    file = open('/content/drive/My Drive/Data/business.pkl', 'rb')
    business = pickle.load(file)
else:
    print('Reading json. Saving pkl')
    b = open('/content/drive/My Drive/Data/business.json',encoding="utf8")
    business = pd.DataFrame([json.loads(x) for x in b.readlines()])

    file = open('/content/drive/My Drive/Data/business.pkl', 'wb')
    pickle.dump(business, file)
    file.close()

Business pickle exists. Reading pkl

In [6]:
business.head()

              business_id  ...                                              hours
0  1SWheh84yJXfytovILXOAQ  ...                                               None
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
2  gnKjwL_1w79qoiV3IC_xQQ  ...  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
3  xvX2CttrVhyG2z1dFg_0xw  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
4  HhyxOkGAM07SRYtlQ4wMFQ  ...  {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...

[5 rows x 14 columns]

Filtering businesses.
Keeping only business that :


*   Contain **food** or **restaurant** as category
*   Are still open
*   Have received more than 50 reviews
*   Are from Nevada state

In [0]:
relevant_business = business[business['categories'].str.lower().str.contains('food|restaurants') == True]
relevant_business = relevant_business[relevant_business['is_open'] == 1]
relevant_business = relevant_business[relevant_business['review_count'] > 50]
relevant_business = relevant_business[relevant_business['state'] == 'NV']
# relevant_business.head()

In [0]:
relevant_business = relevant_business.sort_values(by= 'review_count', ascending=True)
top_15_business = relevant_business.head(15)

In [9]:
top_15_business.head()

                   business_id  ...                                              hours
32586   8RGoNUEC4QGbpF4af7CDdQ  ...  {'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...
134909  3p7mUvZtYocYf8gYEENGxw  ...  {'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...
28920   c_3abcaptUG0d4A4LWMe7w  ...                                               None
15877   5n2dA_QqO4c_7pSK0Of6AQ  ...  {'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...
93161   WUswpeAjbiww_xkSS8jTEA  ...  {'Monday': '12:0-21:0', 'Tuesday': '9:0-21:0',...

[5 rows x 14 columns]

In [10]:
if os.path.isfile('/content/drive/My Drive/Data/review.pkl'):
    print ("Review review pickle exists. Reading pkl")

    file = open('/content/drive/My Drive/Data/review.pkl', 'rb')
    review_data = pickle.load(file)
else:
    print('Reading review json. Saving pkl')
    r = open('/content/drive/My Drive/Data/review.json',encoding="utf8")
    review_data = pd.DataFrame([json.loads(x) for x in r.readlines()])

    file = open('/content/drive/My Drive/Data/review.pkl', 'wb')
    pickle.dump(review_data, file)
    file.close()

Review review pickle exists. Reading pkl

In [11]:
review_data.head()

                review_id  ...                 date
0  Q1sbwvVQXV2734tPgoKj4Q  ...  2013-05-07 04:34:36
1  GJXCdrto3ASJOqKeVWPi6Q  ...  2017-01-14 21:30:33
2  2TzJjDVDEuAW6MR5Vuc1ug  ...  2016-11-09 20:09:03
3  yi0R0Ugj_xUx_Nek0-_Qig  ...  2018-01-09 20:56:38
4  11a8sVPMUFtaC7_ABRkmtw  ...  2018-01-30 23:07:38

[5 rows x 9 columns]

In [12]:
if os.path.isfile('/content/drive/My Drive/Data/users.pkl'):
    print ("Review users pickle exists. Reading pkl")

    file = open('/content/drive/My Drive/Data/users.pkl', 'rb')
    users = pickle.load(file)
else:
    print('Reading user json. Saving pkl')
    u = open('/content/drive/My Drive/Data/user.json',encoding="utf8")
    users = pd.DataFrame([json.loads(x) for x in u.readlines()])

    file = open('/content/drive/My Drive/Data/users.pkl', 'wb')
    pickle.dump(users, file)
    file.close()

Review users pickle exists. Reading pkl

In [13]:
users.head()

                  user_id    name  ...  compliment_writer compliment_photos
0  l6BmjZMeQD3rDxWUbiAiow  Rashmi  ...                  2                 0
1  4XChL029mKr5hydo79Ljxg   Jenna  ...                  0                 0
2  bc8C_eETBWL0olvFSJJd0w   David  ...                  0                 0
3  dD0gZpBctWGdWo9WlGuhlA  Angela  ...                  1                 0
4  MM4RJAeH6yuaN8oZDSt0RA   Nancy  ...                 25                 5

[5 rows x 22 columns]

In [14]:
len(set(users['user_id']))

1637138

In [0]:
# final_Data = relevant_business.join(review_data.set_index('business_id'), on='business_id', lsuffix='_caller', rsuffix='_other')
final_Data = top_15_business.join(review_data.set_index('business_id'), on='business_id', lsuffix='_caller', rsuffix='_other')

In [0]:
final_Data.head()

                  business_id  ...                 date
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  2018-08-23 22:08:24
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  2016-07-15 02:59:51
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  2017-07-19 04:58:49
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  2017-10-03 11:55:24
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  2017-06-29 08:44:06

[5 rows x 22 columns]

Preprocessing data by :


*   Lemmatizing words
*   Converting string into lower case
*   Removing stop words
*   Removing special characters and numbers

In [0]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [0]:
def lemmatize_text(text):
    return ' '.join([lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)])

In [0]:
def remove_special_characters(text):
  final_str = re.sub('[^a-zA-Z.\s]', '', text)
  return final_str

In [0]:
join_all_reviews = lambda a: " / ".join(a) 
merged_reviews = final_Data.groupby(by='business_id').agg({'text': join_all_reviews}).reset_index()

In [0]:
merged_reviews['lowered_string'] = merged_reviews.text.str.lower()

In [0]:
merged_reviews['without_stop_words'] = merged_reviews['lowered_string'].apply(lambda x: ' '.join([item for item in x.split() if item not in stop]))

In [0]:
merged_reviews['lemmatized_string'] = merged_reviews.without_stop_words.apply(lemmatize_text)

In [0]:
merged_reviews['lemmatized_string'] = merged_reviews.lemmatized_string.apply(remove_special_characters)

# Comparing various Keyphrase Extraction methods

## Using RAKE

In [0]:
r = Rake(max_length=3)

In [0]:
rake_output = []
for text in merged_reviews['lemmatized_string']:
  r.extract_keywords_from_text(text)

  output = r.get_ranked_phrases()
  rake_output.append(output)

In [0]:
merged_reviews['rake_output'] = rake_output

In [28]:
merged_reviews.head()

              business_id  ...                                        rake_output
0  3-IoSBy9vRKP2MWZwlf6wA  ...  [well thought would, wait staff friendly, unfo...
1  3p7mUvZtYocYf8gYEENGxw  ...  [went vega exhibition, ton garlic love, sugges...
2  5j7BnXXvlS69uLVHrY9Upw  ...  [tortilla hard chewy, today quite different, t...
3  5n2dA_QqO4c_7pSK0Of6AQ  ...  [would eat lunch, wanted leave immediately, tr...
4  8RGoNUEC4QGbpF4af7CDdQ  ...  [went take trips, walked pm ross, totally tell...

[5 rows x 6 columns]

## Using PKE

In [29]:
!pip install git+https://github.com/boudinfl/pke.git

Collecting git+https://github.com/boudinfl/pke.git
  Cloning https://github.com/boudinfl/pke.git to /tmp/pip-req-build-is7cc6wz
  Running command git clone -q https://github.com/boudinfl/pke.git /tmp/pip-req-build-is7cc6wz
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (3.2.5)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (2.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (1.3.3)
Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (2.1.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (1.12.0)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (0.0)
Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 2.7MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (0.16.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pke==1.8.1) (0.14.1)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->pke==1.8.1) (4.4.1)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (0.9.6)
Requirement already satisfied: wasabi<1.1.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (0.4.2)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (0.2.4)
Requirement already satisfied: srsly<1.1.0,>=0.0.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (0.2.0)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (2.0.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (2.0.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (1.0.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (2.21.0)
Requirement already satisfied: thinc<7.1.0,>=7.0.8 in /usr/local/lib/python3.6/dist-packages (from spacy->pke==1.8.1) (7.0.8)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->pke==1.8.1) (0.21.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pke==1.8.1) (3.0.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /usr/local/lib/python3.6/dist-packages (from thinc<7.1.0,>=7.0.8->spacy->pke==1.8.1) (4.28.1)
Building wheels for collected packages: pke
  Building wheel for pke (setup.py) ... done
  Created wheel for pke: filename=pke-1.8.1-cp36-none-any.whl size=8754519 sha256=46d29fe90ba4c74eb29e4a80ac0e2a781b5e488bb69d94915f1b01436d6cd1ae
  Stored in directory: /tmp/pip-ephem-wheel-cache-8kf5io0t/wheels/8d/24/54/6582e854e9e32dd6c632af6762b3a5d2f6b181c2992e165462
Successfully built pke
Installing collected packages: unidecode, pke
Successfully installed pke-1.8.1 unidecode-1.1.1

In [0]:
import pke

In [0]:
pke_output = []
count = 0
for text in merged_reviews['lemmatized_string']:
  text = text[0 : 1000000]  
  extractor = pke.unsupervised.TopicRank()

# load the content of the document, here document is expected to be in raw
# format (i.e. a simple text file) and preprocessing is carried out using spacy
  extractor.load_document(text, language='en')

  extractor.candidate_selection()
  extractor.candidate_weighting()

  output = extractor.get_n_best(n=30)

  final_tags = [tag[0] for tag in output]
  
  pke_output.append(final_tags)

In [0]:
merged_reviews['pke_output'] = pke_output

In [33]:
merged_reviews.head()

              business_id  ...                                         pke_output
0  3-IoSBy9vRKP2MWZwlf6wA  ...  [friendly food, good place, good service, buff...
1  3p7mUvZtYocYf8gYEENGxw  ...  [wrong pizza, places, good pizza fair price, s...
2  5j7BnXXvlS69uLVHrY9Upw  ...  [el pollo yucko, double check order, drier chi...
3  5n2dA_QqO4c_7pSK0Of6AQ  ...  [burger, option good, food good way greasy, or...
4  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizzas, st time, food, specific order repeat,...

[5 rows x 7 columns]

## Using scoring_keyphrases_by_ngrams_and_textrank

In [0]:
def extract_candidate_words(text, good_tags=set(['JJ','JJR','JJS','NN','NNP','NNS','NNPS'])):
    import itertools, string

    punctions = set(string.punctuation)
    stop_words = set(nltk.corpus.stopwords.words('english'))
    
    tagged_words = itertools.chain.from_iterable(nltk.pos_tag_sents(nltk.word_tokenize(sent)
                                                                    for sent in nltk.sent_tokenize(text)))
    candidates_words = [word.lower() for word, tag in tagged_words
                        if tag in good_tags and word.lower() not in stop_words
                        and not all(char in punctions for char in word)]

    return candidates_words

In [0]:
def scoring_keyphrases_by_ngrams_and_textrank(text, n_keywords=0.05):
    from itertools import takewhile, tee
    import networkx, nltk
    
    words = [word.lower()
             for sent in nltk.sent_tokenize(text)
             for word in nltk.word_tokenize(sent)]

    candidates_words = extract_candidate_words(text)
    
    #Building graph
    graph = networkx.Graph()
    graph.add_nodes_from(set(candidates_words))

    #Creating and iterating over word-pairs
    def pairwise(iterable):
        word1, word2 = tee(iterable)
        next(word2, None)
        return zip(word1, word2)

    for w1, w2 in pairwise(candidates_words):
        if w2:
            graph.add_edge(*sorted([w1, w2]))

    #Scoring nodes using default pagerank algorithm
    ranks = networkx.pagerank(graph)

    if 0 < n_keywords < 1:
        n_keywords = int(round(len(candidates_words) * n_keywords))
    word_ranks = {word_rank[0]: word_rank[1]
                  for word_rank in sorted(ranks.items(), key=lambda x: x[1], reverse=True)[:n_keywords]}
    keywords = set(word_ranks.keys())

    # networkx.draw(graph, with_labels=True)
    # plt.show()

    
    #Forming keyphrases from keywords
    keyphrases = {}
    j = 0
    for i, word in enumerate(words):
        if i < j:
            continue
        if word in keywords:
            kp_words = list(takewhile(lambda x: x in keywords, words[i:i+10]))
            avg_pagerank = sum(word_ranks[w] for w in kp_words) / float(len(kp_words))
            keyphrases[' '.join(kp_words)] = avg_pagerank
            j = i + len(kp_words)
    
    sorted_answer = sorted(keyphrases.items(), key=lambda x: x[1], reverse=True)

    final_answer = []
    check_tag_present = {}
    for tags in sorted_answer:
      temp = tags[0].split()
      
      sorted_temp = sorted(temp)
      sorted_temp_str = ' '.join([t for t in sorted_temp])
      if len(sorted_temp) > 1 and not check_tag_present.get(sorted_temp_str):
        final_answer.append(tags[0])
        check_tag_present[sorted_temp_str] = 1
        
    return final_answer

In [0]:
tks_output = []
count = 0

for text in merged_reviews['lemmatized_string']:
  output = scoring_keyphrases_by_ngrams_and_textrank(text)
  tks_output.append(output)

In [0]:
merged_reviews['tks_output'] = tks_output

In [39]:
merged_reviews.head()

              business_id  ...                                         tks_output
0  3-IoSBy9vRKP2MWZwlf6wA  ...  [buffet food, good food, good place, good food...
1  3p7mUvZtYocYf8gYEENGxw  ...  [pizza place, good pizza, great pizza food, pi...
2  5j7BnXXvlS69uLVHrY9Upw  ...  [chicken bowl, chicken salad, chicken taco, ti...
3  5n2dA_QqO4c_7pSK0Of6AQ  ...  [food burger, burger place, good burger, burge...
4  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza location, pizza time, good pizza, pizza...

[5 rows x 8 columns]

## Using PyTextRank

In [73]:
!pip install pytextrank

Collecting pytextrank
  Downloading https://files.pythonhosted.org/packages/1d/bb/b7f864f862e6fbbbe9c935c5fd006e96fc8cc6c63b74d6c1b8adb668d3d1/pytextrank-2.0.0-py3-none-any.whl
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from pytextrank) (0.10.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from pytextrank) (2.4)
Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (from pytextrank) (2.1.9)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->pytextrank) (4.4.1)
Requirement already satisfied: srsly<1.1.0,>=0.0.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (0.2.0)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (2.0.1)
Requirement already satisfied: thinc<7.1.0,>=7.0.8 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (7.0.8)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (2.21.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (2.0.3)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (0.2.4)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (1.17.4)
Requirement already satisfied: wasabi<1.1.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (0.4.2)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pytextrank) (0.9.6)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /usr/local/lib/python3.6/dist-packages (from thinc<7.1.0,>=7.0.8->spacy->pytextrank) (4.28.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pytextrank) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pytextrank) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pytextrank) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pytextrank) (2019.11.28)
Installing collected packages: pytextrank
Successfully installed pytextrank-2.0.0

In [0]:
import spacy
import pytextrank

nlp = spacy.load("en_core_web_sm")
nlp.max_length = 5000000

# add PyTextRank to the spaCy pipeline
tr = pytextrank.TextRank()
nlp.add_pipe(tr.PipelineComponent, name="textrank", last=True)

In [0]:
textrank_output = []
count = 0
for text in merged_reviews['lemmatized_string']:
  doc = nlp(text)

  all_phrases = []  
  for p in doc._.phrases:
    all_phrases.append(p.text)

  output = all_phrases
  textrank_output.append(output)

In [0]:
merged_reviews['pytextrank'] = textrank_output

In [77]:
merged_reviews.head()

              business_id  ...                                         pytextrank
0  3-IoSBy9vRKP2MWZwlf6wA  ...  [good food good service, food buffet, food buf...
1  3p7mUvZtYocYf8gYEENGxw  ...  [good pizza service, great pizza food, times p...
2  5j7BnXXvlS69uLVHrY9Upw  ...  [fast food chicken, chicken avocado bowl chick...
3  5n2dA_QqO4c_7pSK0Of6AQ  ...  [burger fries, burger place, good fix burger, ...
4  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...

[5 rows x 9 columns]

# Generating output

In [0]:
merged_reviews = merged_reviews.drop(['text', 'lowered_string', 'without_stop_words', 'lemmatized_string'], axis=1)

In [79]:
merged_reviews.head()

              business_id  ...                                         pytextrank
0  3-IoSBy9vRKP2MWZwlf6wA  ...  [good food good service, food buffet, food buf...
1  3p7mUvZtYocYf8gYEENGxw  ...  [good pizza service, great pizza food, times p...
2  5j7BnXXvlS69uLVHrY9Upw  ...  [fast food chicken, chicken avocado bowl chick...
3  5n2dA_QqO4c_7pSK0Of6AQ  ...  [burger fries, burger place, good fix burger, ...
4  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...

[5 rows x 5 columns]

In [0]:
export_csv = merged_reviews.to_csv (r'/content/drive/My Drive/Data/Review_50.csv', index = None, header=True)

In [0]:
business_tags = final_Data.join(merged_reviews.set_index('business_id'), on='business_id', lsuffix='_caller', rsuffix='_other')

In [82]:
business_tags.head()

                  business_id  ...                                         pytextrank
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...
32586  8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza time, pizza hot ready fresh pizza littl...

[5 rows x 26 columns]

In [0]:
business_review_users_tags = business_tags.join(users.set_index('user_id'), on='user_id', lsuffix='_caller', rsuffix='_other')

In [84]:
business_review_users_tags.head()

                  business_id  ... compliment_photos
32586  8RGoNUEC4QGbpF4af7CDdQ  ...                 0
32586  8RGoNUEC4QGbpF4af7CDdQ  ...                 0
32586  8RGoNUEC4QGbpF4af7CDdQ  ...                 0
32586  8RGoNUEC4QGbpF4af7CDdQ  ...                 0
32586  8RGoNUEC4QGbpF4af7CDdQ  ...                 0

[5 rows x 47 columns]

In [0]:
business_review_users_tags = business_review_users_tags.drop(['address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars_caller', 'review_count_caller',
       'is_open', 'attributes', 'categories', 'hours',
       'stars_other', 'useful_caller', 'funny_caller', 'cool_caller',
       'review_count_other', 'yelping_since', 'useful_other', 'funny_other',
       'cool_other', 'elite', 'friends', 'fans', 'average_stars',
       'compliment_hot', 'compliment_more', 'compliment_profile',
       'compliment_cute', 'compliment_list', 'compliment_note',
       'compliment_plain', 'compliment_cool', 'compliment_funny',
       'compliment_writer', 'compliment_photos'], axis=1)

In [0]:
business_review_users_tags = business_review_users_tags.rename({'name_caller': 'business_name', 'name_other': 'username'}, axis=1)

In [0]:
file = open('/content/drive/My Drive/Data/business_review_users_tags.pkl', 'wb')
pickle.dump(business_review_users_tags, file)
file.close()

In [0]:
business_review_users_tags.to_csv (r'/content/drive/My Drive/Data/business_review_users_tags.csv', index = None, header=True)

In [0]:
filter_review_tags = business_review_users_tags[['text', 'pytextrank']]
filter_review_tags.to_csv (r'/content/drive/My Drive/Data/filter_review_tags.csv', index = None, header=True)

In [0]:
compare_tags = business_review_users_tags[['text', 'pytextrank', 'tks_output']]
compare_tags.to_csv (r'/content/drive/My Drive/Data/compare_tags.csv', index = None, header=True)

In [0]:
business_tags = business_review_users_tags.drop_duplicates(subset=['business_id'])
business_tags = business_tags[['business_id', 'pytextrank', 'rake_output', 'pke_output', 'tks_output']]
business_tags.to_csv(r'/content/drive/My Drive/Data/business_tags.csv', index = None, header=True)

In [92]:
business_tags.head()

                   business_id  ...                                         tks_output
32586   8RGoNUEC4QGbpF4af7CDdQ  ...  [pizza location, pizza time, good pizza, pizza...
134909  3p7mUvZtYocYf8gYEENGxw  ...  [pizza place, good pizza, great pizza food, pi...
28920   c_3abcaptUG0d4A4LWMe7w  ...  [food food, food burger, food place, food good...
15877   5n2dA_QqO4c_7pSK0Of6AQ  ...  [food burger, burger place, good burger, burge...
93161   WUswpeAjbiww_xkSS8jTEA  ...  [order food, place food, food place order, foo...

[5 rows x 5 columns]

# Evaluation

In [93]:
!pip install easy-rouge

Collecting easy-rouge
  Downloading https://files.pythonhosted.org/packages/0c/0a/b7ebb887dac3ece27fffc65bbc7dc0abcf991f2ccce8073126329ce4be8f/easy_rouge-0.2.2-py3-none-any.whl
Installing collected packages: easy-rouge
Successfully installed easy-rouge-0.2.2

In [0]:
from rouge.rouge import rouge_n_sentence_level

def calcualte_score_using_rouge(summary_sentence, reference_sentence):
  recall, precision, rouge = rouge_n_sentence_level(summary_sentence, reference_sentence, 3)
  print('ROUGE-2-R', recall)
  print('ROUGE-2-P', precision)
  print('ROUGE-2-F', rouge)

  return recall, precision, rouge

In [95]:
total_recall_rake = 0
total_precision_rake = 0
total_f1_rake = 0

total_recall_pke = 0
total_precision_pke = 0
total_f1_pke = 0

total_recall_tks = 0
total_precision_tks = 0
total_f1_tks = 0


for i in range(0, len(business_tags)):
  print('-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# ' + str(i) + ' #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-')
  print('-----------------------RAKE-----------------------')
  summary_sentence = ' '.join(([tks for tks in business_tags.iloc[i]['rake_output']]))
  reference_sentence = ' '.join(([ptr for ptr in business_tags.iloc[i]['pytextrank']]))

  recall, precision, rouge = calcualte_score_using_rouge(summary_sentence, reference_sentence)

  total_recall_rake += recall
  total_precision_rake += precision
  total_f1_rake += rouge

  print('-----------------------PKE-----------------------')
  summary_sentence = ' '.join(([tks for tks in business_tags.iloc[i]['pke_output']]))
  reference_sentence = ' '.join(([ptr for ptr in business_tags.iloc[i]['pytextrank']]))

  recall, precision, rouge = calcualte_score_using_rouge(summary_sentence, reference_sentence)

  total_recall_pke += recall
  total_precision_pke += precision
  total_f1_pke += rouge

  print('-----------------------TKS-----------------------')
  summary_sentence = ' '.join(([tks for tks in business_tags.iloc[i]['tks_output']]))
  reference_sentence = ' '.join(([ptr for ptr in business_tags.iloc[i]['pytextrank']]))

  recall, precision, rouge = calcualte_score_using_rouge(summary_sentence, reference_sentence)

  total_recall_tks += recall
  total_precision_tks += precision
  total_f1_tks += rouge

-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 0 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.16604805626098848
ROUGE-2-P 0.8559919436052367
ROUGE-2-F 0.27814136125654454
-----------------------PKE-----------------------
ROUGE-2-R 0.07560070326235593
ROUGE-2-P 0.9555555555555556
ROUGE-2-F 0.14011585807385954
-----------------------TKS-----------------------
ROUGE-2-R 0.259034967767142
ROUGE-2-P 0.9038854805725971
ROUGE-2-F 0.40267233525660495
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 1 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.15964560347709797
ROUGE-2-P 0.8673932788374206
ROUGE-2-F 0.26965974869405623
-----------------------PKE-----------------------
ROUGE-2-R 0.0710464727515881
ROUGE-2-P 0.9837962962962963
ROUGE-2-F 0.13252260679763017
-----------------------TKS-----------------------
ROUGE-2-R 0.22684720829154129
ROUGE-2-P 0.9679029957203994
ROUGE-2-F 0.36755146262188515
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 2 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.15592396741460626
ROUGE-2-P 0.9114452798663325
ROUGE-2-F 0.26629240907981444
-----------------------PKE-----------------------
ROUGE-2-R 0.049592682578247824
ROUGE-2-P 0.9719887955182073
ROUGE-2-F 0.09437041066086484
-----------------------TKS-----------------------
ROUGE-2-R 0.16707160211519223
ROUGE-2-P 0.9613486842105263
ROUGE-2-F 0.28467064410081583
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 3 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.13751724137931035
ROUGE-2-P 0.874561403508772
ROUGE-2-F 0.23766388557806914
-----------------------PKE-----------------------
ROUGE-2-R 0.052551724137931036
ROUGE-2-P 0.9896103896103896
ROUGE-2-F 0.09980353634577604
-----------------------TKS-----------------------
ROUGE-2-R 0.21917241379310345
ROUGE-2-P 0.9595410628019324
ROUGE-2-F 0.356838086683135
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 4 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.2061763655837201
ROUGE-2-P 0.8816793893129771
ROUGE-2-F 0.3342013888888889
-----------------------PKE-----------------------
ROUGE-2-R 0.06247768654052124
ROUGE-2-P 0.9668508287292817
ROUGE-2-F 0.11737089201877933
-----------------------TKS-----------------------
ROUGE-2-R 0.25276686897536593
ROUGE-2-P 0.9230769230769231
ROUGE-2-F 0.3968609865470852
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 5 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.1429498269896194
ROUGE-2-P 0.8708827404479579
ROUGE-2-F 0.2455879621029166
-----------------------PKE-----------------------
ROUGE-2-R 0.07547577854671281
ROUGE-2-P 0.9748603351955307
ROUGE-2-F 0.14010437575270976
-----------------------TKS-----------------------
ROUGE-2-R 0.2324826989619377
ROUGE-2-P 0.9693417493237151
ROUGE-2-F 0.3750218035932321
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 6 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.12870252061795795
ROUGE-2-P 0.9217970049916805
ROUGE-2-F 0.2258689226378555
-----------------------PKE-----------------------
ROUGE-2-R 0.04355906609362295
ROUGE-2-P 0.9973404255319149
ROUGE-2-F 0.08347245409015025
-----------------------TKS-----------------------
ROUGE-2-R 0.2802880706237658
ROUGE-2-P 0.9575396825396826
ROUGE-2-F 0.43364183664300476
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 7 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.07030812324929972
ROUGE-2-P 0.944792973651192
ROUGE-2-F 0.13087685756496045
-----------------------PKE-----------------------
ROUGE-2-R 0.03557422969187675
ROUGE-2-P 0.9870466321243523
ROUGE-2-F 0.06867339581831289
-----------------------TKS-----------------------
ROUGE-2-R 0.18272642390289448
ROUGE-2-P 0.9849018621036739
ROUGE-2-F 0.30826179412459637
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 8 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.15432873274780426
ROUGE-2-P 0.9389312977099237
ROUGE-2-F 0.26508620689655166
-----------------------PKE-----------------------
ROUGE-2-R 0.051191969887076534
ROUGE-2-P 0.9807692307692307
ROUGE-2-F 0.09730503219651801
-----------------------TKS-----------------------
ROUGE-2-R 0.24479297365119196
ROUGE-2-P 0.96250616674889
ROUGE-2-F 0.39031709512853857
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 9 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.13258399806623156
ROUGE-2-P 0.9424398625429553
ROUGE-2-F 0.23246450519177791
-----------------------PKE-----------------------
ROUGE-2-R 0.03831278704375151
ROUGE-2-P 0.9937304075235109
ROUGE-2-F 0.07378098452228558
-----------------------TKS-----------------------
ROUGE-2-R 0.19204737732656516
ROUGE-2-P 0.961864406779661
ROUGE-2-F 0.3201692524682652
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 10 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.11498973305954825
ROUGE-2-P 0.9085545722713865
ROUGE-2-F 0.204142502071251
-----------------------PKE-----------------------
ROUGE-2-R 0.060854956132163525
ROUGE-2-P 0.9760479041916168
ROUGE-2-F 0.11456685995431382
-----------------------TKS-----------------------
ROUGE-2-R 0.2335262273660631
ROUGE-2-P 0.9484457922668689
ROUGE-2-F 0.37477531455961655
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 11 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.1514565992865636
ROUGE-2-P 0.900972590627763
ROUGE-2-F 0.2593205242397252
-----------------------PKE-----------------------
ROUGE-2-R 0.05648038049940547
ROUGE-2-P 0.9768637532133676
ROUGE-2-F 0.1067865673738935
-----------------------TKS-----------------------
ROUGE-2-R 0.241230677764566
ROUGE-2-P 0.9609236234458259
ROUGE-2-F 0.385648093144826
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 12 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.11088936010976674
ROUGE-2-P 0.8952668680765358
ROUGE-2-F 0.19733629300776914
-----------------------PKE-----------------------
ROUGE-2-R 0.05039291505550705
ROUGE-2-P 0.9926289926289926
ROUGE-2-F 0.09591642924976257
-----------------------TKS-----------------------
ROUGE-2-R 0.2621928402145441
ROUGE-2-P 0.9489841986455982
ROUGE-2-F 0.4108678655199374
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 13 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.14013188883655206
ROUGE-2-P 0.9083969465648855
ROUGE-2-F 0.24280759028769644
-----------------------PKE-----------------------
ROUGE-2-R 0.04015544041450777
ROUGE-2-P 0.9660056657223796
ROUGE-2-F 0.07710570944036178
-----------------------TKS-----------------------
ROUGE-2-R 0.2369288742345737
ROUGE-2-P 0.9776482021379981
ROUGE-2-F 0.38142180094786726
-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-# 14 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
-----------------------RAKE-----------------------
ROUGE-2-R 0.13029218843172333
ROUGE-2-P 0.9397849462365592
ROUGE-2-F 0.22885572139303484
-----------------------PKE-----------------------
ROUGE-2-R 0.06678592725104353
ROUGE-2-P 0.9781659388646288
ROUGE-2-F 0.1250348869662294
-----------------------TKS-----------------------
ROUGE-2-R 0.36627906976744184
ROUGE-2-P 0.9406584992343032
ROUGE-2-F 0.5272532188841202

In [0]:
total_recall_rake /= len(business_tags)
total_precision_rake /= len(business_tags)
total_f1_rake /= len(business_tags)

total_recall_pke /= len(business_tags)
total_precision_pke /= len(business_tags)
total_f1_pke /= len(business_tags)

total_recall_tks /= len(business_tags)
total_precision_tks /= len(business_tags)
total_f1_tks /= len(business_tags)

In [0]:
all_precision = [total_precision_rake, total_precision_pke, total_precision_tks]
all_recall = [total_recall_rake, total_recall_pke, total_recall_tks]
all_f1 = [total_f1_rake, total_f1_pke, total_f1_tks]

In [0]:
all_values = pd.DataFrame()

In [0]:
all_values['algorithms'] = ['RAKE', 'PKE', 'OUR APPROACH']
all_values['precision'] = all_precision
all_values['recall'] = all_recall
all_values['f1'] = all_f1

In [100]:
all_values.set_index('algorithms')

              precision    recall        f1
algorithms
RAKE           0.904193  0.140130  0.241220
PKE            0.979417  0.055337  0.104462
OUR APPROACH   0.955238  0.239826  0.381065